* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter.ttf);
    font-weight: normal;
    font-style: normal;
    }

body {
    font-family: 'Inter';

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    .header {
        border: 1px solid grey;
    }

    .main {
        border: 1px solid red;
    }

    .footer {
        border: 1px solid gray;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        background-color: yellow;
    }

    .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        list-style: none; /*Removing underline links*/
    }

    .nav-link {
        padding: 0 20px;
        line-height: 50px;
        text-decoration: none;
        color: black;
        transition: .3s; /*Время изменения цвета ссылки*/
    }

    .nav-link:hover {
        color: white; /*Меняет цвет ссылки*/
    }

    html {
        scroll-behavior: smooth; /*Smooth page scrolling*/
    }
}